.contacts__title {
    color: $mainBlack;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    @media screen and (max-width: 560px) {
        font-size: 26px;
    }
}

.contacts__wrapper {
    display: grid;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 60px;
    border-bottom: 1px solid $greyBorder;
    margin: 40px 0 60px 0;

    @include mediaTablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 560px) {
        grid-template-columns: 1fr;

        & > * {
            justify-self: center;
            text-align: center;
            
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
}

._row {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    & > *:not(:last-child) {
        margin-right: 10px;
    }

    @media screen and (max-width: 560px) {
        font-size: 20px;
    }
}

._title {
    font-weight: 600;
    line-height: 140%;
    color: $mainBlack;
    margin-bottom: 25px;

    @media screen and (max-width: 560px) {
        font-size: 20px;
    }
}