.cta__form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $mainWhite;
    padding: 15px;

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mainWhite;
        padding: 21px;
    }

    .form__input {
        height: 45px;
        width: 200px;
        background-color: $mainWhite;
        padding: 15px;
        margin-right: 15px;
        border: 1px solid $greyBorder;
        font-family: $font-main;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 114%;
        color: $mainBlack;

        &::placeholder {
            color: $mainBlack;
            text-transform: uppercase;
        }
    }

    .form__btn {
        width: 159px;
        height: 45px;
        padding: 15px;
        background-color: $mainBlack;
        border: 1px solid $mainBlack;
        font-size: 14px;
        font-weight: 500;
        line-height: 114%;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color 0.2s ease-in, background-color 0.2s ease-in;

        &:hover {
            background-color: $greyBorder;
            color: $mainBlack;
        }
    }
}