.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 950px;
    padding: 25px 0 0 0;
    color: $mainWhite;
    font-weight: normal;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.87) 0%, 
        rgba(51, 51, 51, 0.87) 100%), 
        url('./../img/header/header-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    @include mediaMobile {
        min-height: 750px;
        background-size: 1200px 750px;
    }

    @include mediaSMobile {
        min-height: 650px;
        background-size: 1000px 650px;
    }
}

.header__title {
    text-align: center;
    margin-bottom: -300px;

    @include mediaTablet {
        margin-bottom: 350px;
    }

    @include mediaMobile {
        margin-bottom: 150px;
    }

    @include mediaSMobile {
        margin-bottom: 100px;
    }

    & .main-title {
        font-family: $font-accent;
        font-size: 36px;
        font-weight: 700;
        line-height: 136%;

        @include mediaTablet {
            font-size: 40px;
        }

        @include mediaMobile {
            font-size: 36px;
        }
    }

    & .catalog-btn {
        background-color: $mainBlack;
        padding: 15px 35px;
        margin-top: 50px;
        border: 1px solid $mainWhite;
        line-height: 130%;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 500;
        transition: background 0.2s ease-in;

        &:hover {
            background-color: $accent;
        }

        @include mediaTablet {
            font-size: 24px;
            padding: 25px 40px;
        }

        @include mediaMobile {
            font-size: 22px;
            padding: 20px 35px;
        }
    }
}

.header__footer {
    height: 120px;

    @include mediaTablet {
        display: none;
    }

    &-border {
        width: 100%;
        height: 30px;
        border-top: 1px solid $mainWhite;
    }
}

.brands {
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    gap: 20px;

    &-scroll {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        min-width: 100%;
    }

    &::after,
    &::before {
        content: '';
        height: 100%;
        top: 0;
        width: 10%;
        position: absolute;
        z-index: 1;
    }

    &::after {
        right: 0;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgb(68, 68, 68, 1) 100%
        );
    }

    &::before {
        left: 0;
        background: linear-gradient(
            90deg,
            rgb(68, 67, 68, 1) 0%,
            rgb(0, 0, 0, 0) 100%
        );
    }

    .scroll {
        animation: scroll 20s linear infinite;
        animation-direction: reverse;
    }

    &:hover .scroll {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    from {
    transform: translateX(0);
    }

    to {
    transform: translateX(calc(-100% - 20px));
    }
}