.header-page {
    padding: 25px 0;
    align-items: center;
    color: $mainWhite;
    font-weight: normal;
    background-color: $mainBlack;
}

.nav-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
    font-size: 16px;

    & a {
        text-decoration-line: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: $mainBlack;
    }

    & span {
        margin: 0 15px 15px 15px;
    }

    @include mediaSTablet {
        font-size: 20px;
    }
}