.info {
    padding: 120px 0 150px 0;
    color: $mainBlack;

    @include mediaMobile {
        padding: 80px 0 95px 0;
    }

    @include mediaSMobile {
        padding: 50px 0 50px 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 60px;

        & *:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.info__img-vid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1158px) {
        grid-template-columns: repeat(2, 278px);
    }

    @media screen and (max-width:800px) {
        grid-template-columns: repeat(2, 228px);
    }

    @include mediaMobile {
        grid-template-columns: repeat(2, 180px);
    }

    @include mediaSMobile {
        grid-template-columns: repeat(2, 120px);
    }


    .content-img img{
        height: 300px;
        width: 278px;

        @media screen and (max-width:800px) {
            height: 210px;
        }

        @include mediaMobile {
            height: 170px;
        }

        @include mediaSMobile {
            height: 130px;
        }
    }

    .content-video-1 {
        height: 300px;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;

        @media screen and (max-width: 1158px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        @media screen and (max-width:800px) {
            height: 250px;
        }

        @include mediaMobile {
            height: 200px;
        }

        @include mediaSMobile {
            height: 130px;
        }
            
        .link-video {
            position: absolute;
            z-index: 4;
            height: 100%;

            img {
                height: 100%;
            }

            svg {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $mainWhite;
                transition: color 0.2s ease-in, transform 0.2s ease-in;

                @include mediaMobile {
                    width: 40px;
                    height: 40px;
                }
            }

            &::after {
                opacity: 0;
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: 3px solid $mainWhite;
                transition: opacity 0.2s ease-in;
            }
    
            &:hover::after{
                opacity: 1;
            }

            &:hover svg {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    .content-video-2 {
        height: 300px;
        grid-column-start: 3;
        grid-column-end: 5;
        position: relative;
        z-index: 1;

        @media screen and (max-width: 1158px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        @media screen and (max-width:800px) {
            height: 250px;
        }

        .link-video {
            position: absolute;
            z-index: 4;

            svg {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $mainWhite;
                transition: color 0.2s ease-in, transform 0.2s ease-in;

                @include mediaMobile {
                    width: 40px;
                    height: 40px;
                }
            }

            &::after {
                opacity: 0;
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: 3px solid $mainWhite;
                transition: opacity 0.2s ease-in;
            }

            &:hover::after{
                opacity: 1;
            }

            &:hover svg {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
}
