.nav--mobile {
    position: fixed;
    background-color: $mainBlack;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    padding: 170px 35px 130px 35px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-items: start;
    font-size: 31px;
    font-weight: normal;
    line-height: 138%;

    @include mediaMobile {
        font-size: 26px;
    }
}

.nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: inherit;
}

.nav--mobile .list-1 * {
    margin-bottom: 40px;
}

.nav--mobile .list-2 *:not(:last-child) {
    margin-bottom: 30px;
}

.nav--mobile .list-2__icons {
    width: 100%;
    padding: 33px 0 33px 0;
    border-top: 1px solid $mainWhite;
    border-bottom: 1px solid $mainWhite;

    & > *:not(:last-child) {
        margin-right: 60px;
    }
}

.nav--mobile .list-2 svg{
    width: 53px;
    height: 53px;

    @include mediaMobile {
        width: 33px;
        height: 33px;
    }
}

.nav--mobile .list-2 li:first-child {
    display: none;
}

.nav--mobile .header__logo {
    position: absolute;
    top: 25px;
    left: 25px;
    pointer-events: none;

    & img {
        width: 350px;
        height: 100px;

        @include mediaMobile {
            width: 216px;
            height: 52px;
        }
    }
}

.nav--mobile .nav__btn {
    top: 35px;
    right: 25px;
}

.nav--mobile {

    .social-mobile {
        display: flex;
        width: inherit;

        .social-icons {
            display: flex;
            width: inherit;
            justify-content: space-between;

            a svg {
                width: 65px;
                height: 65px;

                @include mediaMobile {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}
 
