.product__swiper {
    position: absolute;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px) brightness(25%);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product__container {
    max-width: 1140px;
    padding: 60px 0;
    overflow: hidden;
}

.product__image {
    text-align: center;
    padding: 0 60px;

    @include mediaMobile {
        padding: 0 45px; 
    }
}

.product__image img {
    border-radius: 25px;
    filter: contrast(1.3) brightness(1.1) saturate(1.2);
    width: 740px;

    @include mediaTablet {
        width: 540px;
    }
}

// ------------------------

.product__image-prev::after,
.product__image-next::after {
    color: $mainWhite;
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background-color: $mainWhite;
}

// ------------------------

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
	background-color: transparent;
    cursor: pointer;
    width: 30px;
	height: 30px;
}

.close-btn::after,
.close-btn::before {
    content: '';
	display: block;
    position: absolute;
    top: 13px;
    right: 0;

	width: 33px;
	height: 3px;
    border-radius: 10px;

	background-color: $mainWhite;
	transition: transform 0.2s ease-in,
		top 0.2s linear 0.2s;
}

.close-btn::before {
	transform: rotate(45deg);
}

.close-btn::after {
	transform: rotate(-45deg);
}