.product-offers {
    color: $mainBlack;
    text-align: center;
    margin: 100px 0;
}

.offers-title > *:not(:last-child) {
    margin-bottom: 15px;
}

.offers-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}