.product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mediaContainer {
        grid-template-columns: 1fr;

        & > * {
            justify-self: center;
        }
    }
}

.product__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    max-height: 580px;
    max-width: 540px; 

    & img:first-child {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    & img {
        cursor: pointer;
        transition: scale 0.2s ease-in;

        &:hover {
            transform: scale(1.02);
        }
    }

    @include mediaContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}

.product__info {
    max-height: 580px;
    max-width:  540px;
    border: 1px solid $greyBorder;
    padding: 10px;

    @include mediaContainer {
        max-width: 900px;
        max-height: none;
    }
}

.product__info-wrapper {
    border: 1px solid $greyBorder;
    padding: 40px 30px;
    font-family: $font-main;
    max-height: 560px;

    & > *:not(:last-child) {
        margin-bottom: 30px;
    }

    @include mediaContainer {
        max-height: none;
    }
}

.product-title {
    color: $mainBlack;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;

    @include mediaContainer {
        font-size: 28px;
    }

    @include mediaSTablet {
        font-size: 32px;
    }

    @media screen and (max-width: 480px) {
        font-size: 28px;
    }
}

.product-subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    color: #979797;
    padding-bottom: 30px;
    border-bottom: 1px solid $greyBorder;

    & span {
        margin-left: 15px;
    }

    & span:not(:last-child) {
        margin-right: 25px;
    }

    @include mediaContainer {
        font-size: 18px;
    }

    @include mediaSTablet {
        font-size: 20px;
    }

    @include mediaSMobile {
        display: flex;
        flex-direction: column;
    }
}

.product-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;

    @include mediaContainer {
        font-size: 18px;
    }

    @include mediaSTablet {
        font-size: 20px;
    }
}

.product-price {

    &-number {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        color: $mainBlack;

        @include mediaContainer{
            font-size: 28px;
        }
    }
}

.product__buttons {
    flex-wrap: wrap;

    & > *:not(:last-child) {
        margin-right: 30px;
    } 

    @media screen and (max-width: 586px) {
        & > *:not(:last-child) {
            margin-bottom: 20px;
        } 
    }

    .buy-btn {
        background-color: $mainBlack;
        color: $mainWhite;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        border: 1px solid $mainBlack;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
    
        &:hover {
            background-color: $mainWhite;
            color: $mainBlack;
        }

        @include mediaContainer {
            font-size: 22px;
            padding: 15px 25px;
        }
    }
    
    .cart-btn {
        background-color: $mainWhite;
        color: $mainBlack;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        border: 1px solid $mainBlack;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
    
        &:hover {
            background-color: $mainBlack;
            color: $mainWhite;
        }

        @include mediaContainer {
            font-size: 22px;
            padding: 15px 25px;
        }

        @include mediaSMobile {
            max-width: 200px;
        }
    }
}

.feature__title {
    color: $mainBlack;
    font-size: 30px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 30px;
}