// Fonts
$font-main: 'Gilroy', serif;
$font-accent: 'Noto Serif', serif;
// Colors 
$bg:  #F9F9F9;
$mainBlack: #333333;
$mainWhite: #fff;
$accent: hsla(0%, 0%, 50%, 1);
$greyBorder: #D6D6D6;
// Media 
$tablet: 999px;